In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\Administrator\Downloads\Bias_correction_ucl.csv")

In [4]:
df.head()

,station,Date,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,...,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation,Next_Tmax,Next_Tmin
0,1.0,2013-06-30,28.7,21.4,58.255688,91.116364,28.074101,23.006936,6.818887,69.451805,...,0.0,0.0,0.0,37.6046,126.991,212.3350,2.7850,5992.895996,29.1,21.2
1,2.0,2013-06-30,31.9,21.6,52.263397,90.604721,29.850689,24.035009,5.691890,51.937448,...,0.0,0.0,0.0,37.6046,127.032,44.7624,0.5141,5869.312500,30.5,22.5
2,3.0,2013-06-30,31.6,23.3,48.690479,83.973587,30.091292,24.565633,6.138224,20.573050,...,0.0,0.0,0.0,37.5776,127.058,33.3068,0.2661,5863.555664,31.1,23.9
3,4.0,2013-06-30,32.0,23.4,58.239788,96.483688,29.704629,23.326177,5.650050,65.727144,...,0.0,0.0,0.0,37.6450,127.022,45.7160,2.5348,5856.964844,31.7,24.3
4,5.0,2013-06-30,31.4,21.9,56.174095,90.155128,29.113934,23.486480,5.735004,107.965535,...,0.0,0.0,0.0,37.5507,127.135,35.0380,0.5055,5859.552246,31.2,22.5

In [6]:
print(df.dtypes)

station             float64
Date                 object
Present_Tmax        float64
Present_Tmin        float64
LDAPS_RHmin         float64
LDAPS_RHmax         float64
LDAPS_Tmax_lapse    float64
LDAPS_Tmin_lapse    float64
LDAPS_WS            float64
LDAPS_LH            float64
LDAPS_CC1           float64
LDAPS_CC2           float64
LDAPS_CC3           float64
LDAPS_CC4           float64
LDAPS_PPT1          float64
LDAPS_PPT2          float64
LDAPS_PPT3          float64
LDAPS_PPT4          float64
lat                 float64
lon                 float64
DEM                 float64
Slope               float64
Solar radiation     float64
Next_Tmax           float64
Next_Tmin           float64
dtype: object

In [23]:
missing_data = df.isnull()
missing_data.head(15)

,station,Date,Present_Tmax,Present_Tmin,LDAPS_RHmin,LDAPS_RHmax,LDAPS_Tmax_lapse,LDAPS_Tmin_lapse,LDAPS_WS,LDAPS_LH,...,LDAPS_PPT2,LDAPS_PPT3,LDAPS_PPT4,lat,lon,DEM,Slope,Solar radiation,Next_Tmax,Next_Tmin
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [24]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

station
False    7750
True        2
Name: station, dtype: int64

Date
False    7750
True        2
Name: Date, dtype: int64

Present_Tmax
False    7682
True       70
Name: Present_Tmax, dtype: int64

Present_Tmin
False    7682
True       70
Name: Present_Tmin, dtype: int64

LDAPS_RHmin
False    7677
True       75
Name: LDAPS_RHmin, dtype: int64

LDAPS_RHmax
False    7677
True       75
Name: LDAPS_RHmax, dtype: int64

LDAPS_Tmax_lapse
False    7677
True       75
Name: LDAPS_Tmax_lapse, dtype: int64

LDAPS_Tmin_lapse
False    7677
True       75
Name: LDAPS_Tmin_lapse, dtype: int64

LDAPS_WS
False    7677
True       75
Name: LDAPS_WS, dtype: int64

LDAPS_LH
False    7677
True       75
Name: LDAPS_LH, dtype: int64

LDAPS_CC1
False    7677
True       75
Name: LDAPS_CC1, dtype: int64

LDAPS_CC2
False    7677
True       75
Name: LDAPS_CC2, dtype: int64

LDAPS_CC3
False    7677
True       75
Name: LDAPS_CC3, dtype: int64

LDAPS_CC4
False    7677
True       75
Name: LDAPS_CC4, dtype: int64

LDAPS_PPT1
False    7677
True       75
Name: LDAPS_PPT1, dtype: int64

LDAPS_PPT2
False    7677
True       75
Name: LDAPS_PPT2, dtype: int64

LDAPS_PPT3
False    7677
True       75
Name: LDAPS_PPT3, dtype: int64

LDAPS_PPT4
False    7677
True       75
Name: LDAPS_PPT4, dtype: int64

lat
False    7752
Name: lat, dtype: int64

lon
False    7752
Name: lon, dtype: int64

DEM
False    7752
Name: DEM, dtype: int64

Slope
False    7752
Name: Slope, dtype: int64

Solar radiation
False    7752
Name: Solar radiation, dtype: int64

Next_Tmax
False    7725
True       27
Name: Next_Tmax, dtype: int64

Next_Tmin
False    7725
True       27
Name: Next_Tmin, dtype: int64

In [25]:
df.dropna( axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)

In [27]:
y_data = df[['Next_Tmax','Next_Tmin']]

In [28]:
x_data = df.drop(['Next_Tmax','Next_Tmin','Date'],axis=1)

In [34]:
from sklearn.model_selection import train_test_split


x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.1, random_state=1)


print("number of test samples :", x_test.shape[0])
print("number of training samples:",x_train.shape[0])

number of test samples : 759
number of training samples: 6829

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
lre=LinearRegression()

In [37]:
lre.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [38]:
lre.score(x_test,y_test)

C:\Users\Administrator\anaconda3\lib\site-packages\sklearn\base.py:434: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)

0.8116844449217725